
html {
	box-sizing: border-box;
	overflow-y: scroll;
	
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
 }

h3 {
	font-family: 'Shadows Into Light', cursive;
	font-size: 1.5em;
}
.centerText {
	text-align: center;
}

.wrapper {
	width: 70em;
	margin: 0 auto;

}

.colMain {
	width: 62%;
	margin: 0 auto;
	display: inline-block;
}
.colSide {
	border-left: #6A0FC2 1px solid;
	padding: 2em;
	width: 30%;
	margin: 0 auto;
	display: inline-block;
}
.socSide li{
	display: inline-block;
	margin: 1em;	
	font-size: 1.5em;
}
#navBar ul {
	height: 1em;
}
#navBar li {
	display: inline-block;
	float: right;
	padding-top: 1em;
	margin: 0 2em;
}
#navBar {
	height: 4em;
}
#navBar #logo {
	height: 4em;
}
h1.titleText{
	margin-top: 9.5em;
	
}
div.title {
	background-image: url("../img/MKBanner.png") ;
	background-position: center ;
	background-repeat: no-repeat;
	background-size: cover;
	height: 25.938em;
	overflow: auto;
}
.content .wrapper{
	margin-top: 3em;
	background: rgba(106, 15, 194, .1);
	border-radius: 5px;
	padding: 25px;

}