
:root {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit; 
    padding: 0;
    margin: 0;
}
body {
	background:whitesmoke;
	font-family: 'Raleway', sans-serif;
	 position: relative;
  margin: 0;
  padding-bottom: 15em;
  min-height: 100%;


}

h1, h2, h3 {
	font-family: 'Rock Salt', cursive;
}


.footer {
  width: 100%;
  padding: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.footerPush {
	height: 350px;

}
.footerPushIndex {
	height: 800px;

}

.text-center {
	text-align: center;
}

.fixedBackground {
	background-image: url('../img/MKMinilogo.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}


.packageButton {
	padding: 10px;
	border-radius: 10px;

}

 nav a{
color: black;
  text-transform: uppercase;
  text-decoration: none !important;
}

nav a:after{
  display:block;
  content:'';
  border-bottom: 1px solid #995DD5;
  transform: scaleX(0.0001);
  transition: transform 300ms ease-in-out;
 
}
nav a:hover:after{
  transform: scaleX(1);
}

.socialSideContent {
	list-style: none;
	position: absolute;
	top: 0;
	left: 0 ;
	font-size: 2.5em;
}
.socialSideContent li{
	display: inline-block
}
.twitter {
	color: #4099FF;
	transition: 1s ease;
}
.twitter:hover {
	color: #732fb6;
}
.fbSocBar {
	color: #401a65;
	transition: 1s ease;
}
.fbSocBar:hover {
	color: #995DD5;
}
.miniLogo {
	width: 2em;
	
}
.mainLogoCenter{
	width: 45%;
	 display: inline-block;
    vertical-align: middle;
}
.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
/* button class selectors 
background:#995DD5;
#8034cb;
#732fb6;
#662aa2;
#401a65;
*/

.landingPage{
	background-image: url('../img/HTBARH.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 750px;
	width: 100%;
	border-top: 5px #995DD5 solid;
	border-bottom: 15px #995DD5 solid;
	position:absolute;
    text-align: center;

}

.landingPage h1{
	text-align: center;
	position: relative;
	top: 200px;
	font-size: 4em;
	color: #995DD5;
}
 
/*------------indexGallery Section------*/


.weddingThumbnail{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/wedding.jpg");
	width: 100%;
	height: 500px;
	background-position: center;
}
.functionThumbnail{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/function.jpg");
	width: 100%;
	height: 500px;
	background-position: center;
}
.corporateThumbnail{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/corporate.jpg");
	width: 100%;
	height: 500px;
	background-position: center;
}
.fundraiserThumbnail{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/fundraiser.jpg");
	width: 100%;
	height: 500px;
	background-position: center;
}
#galleryLabel {
	position: relative;
	left: 100px;
	top: 100px;
	background: rgba(0,0,0,.3);
	float:left;
	padding: 5px;
	border-radius:5%;
	color: White;
	font-size: 4em;
	visibility: hidden;
  	opacity: 0;
	transition: visibility 0s, opacity 0.3s linear;



}
.weddingThumbnail:hover #galleryLabel, .functionThumbnail:hover #galleryLabel, .corporateThumbnail:hover #galleryLabel, .fundraiserThumbnail:hover #galleryLabel{
	visibility: visible;
  	opacity: 1;

}

.gallerySelection div {
	margin: 2.750em auto;
	padding-top: 100px;
}

/*END---------indexGallery Section---END*/

/*------------Wedding Gallery-----------*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background:rgba(106, 15, 194, .2);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #995DD5;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background:rgba(106, 15, 194, .8);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/*END---------Wedding Gallery--------END*/

/*------------About Us-----------*/

.about > h1 {
	font-size: 3em;
}

.headShot{
	border-radius: 50%;
	height:150px;
	width: 150px;
	float:left;

}
.headShotMini {
	width: 340px;
	margin: 0 auto;	
}
#ourStory div:nth-child(4) > p {
	text-align: justify;
	}

.profile h3 {
	margin: 1.375em;
	font-size: 3em;
}

.profile p {
	font-size:1.375em;
	line-height: 1.5em;
}

/*END---------About Us--------END*/

/*------------Testimonials-----------*/
.popTextLeft {
	color: #995DD5;
	border-right: 1px #995DD5 solid ;
}
.popTextRight {
	color: #995DD5;
	border-left: 1px #995DD5 solid ;
}
.testimonialBox {
	border: 1px #995DD5 solid ;
	box-shadow: 10px 10px 5px #888888;
	margin: 10px 0 10px 0;
	border-radius: 25px;
}
.testimonialText {
	padding: 20px;
}

/*END---------Testimonials--------END*/

 /*--------Contact--------*/

.contactHead{
	display:inline-block;
	padding: 15px;
}
.contactHead a {
	color: #995DD5;
}

label {
  display: block;
}

form {
  font-weight: 900;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border: 1px #995DD5 solid;
}
form > input {
	width: 70%;
	margin: 25px;
}

/*END---------CONTACT--------END*/

/*--------Services--------*/
.text-white {
	color: #995DD5;
}

button a:hover{
	text-decoration: none;
	color: purple;
	transition: .1s;
	font-weight: bolder;
}


.serviceBackground {
	padding:20px;
	background-image: url('../img/function.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
	border-radius: 25px;
	
}

.serviceBackground2 {
	padding:20px;
	background-image: url('../img/socmedia/mk21.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	width: 100%;
	border-radius: 25px;
	
}

.circleHolder{
	width: 100%;
	margin: 0 auto;
	position: relative;
	left: 4%;
}
.circleQuote{
	border-radius: 100%;
	margin: 15px;
	width: 20%;
	height: 20%;
	text-align: center;
}
.circleQuote p {
	padding: 96px 0;
	font-size: 1.3em;
	color: white;
	 transform: skew(20deg);
   -ms-transform: skew(20deg); /* IE 9 */
   -moz-transform: skew(20deg); /* Firefox */
   -webkit-transform: skew(20deg); /* Safari and Chrome */
   -o-transform: skew(20deg); /* Opera */ 

}

hr {
border: 1px #995DD5 solid;
}

.serviceText {
	font-size: 2em;
}


.serviceText p {
	padding-top: 1.375em;
}
#firstQuote {
background-color:rgba(153, 93, 213, .6);
}
#secondQuote {
background-color:rgba(153, 93, 213, .6);
}
#thirdQuote {
background-color:rgba(153, 93, 213, .6);
}
#fourthQuote {
background-color:rgba(153, 93, 213, .6);

}
.impact {
	font-size: 2em;
	padding: 1.375em;
}
.customPackage {
	font-size: 1.5em;
	padding: 1.735em;
}
.customPackage a{
	font-size: 2em;
	color: #995DD5;
	text-decoration: none;
	transition: 300ms ease-in-out;
}

.customPackage a:hover{
	text-shadow: 10px 10px 5px #888888;
	
}
.noDec {
	color: #995DD5;
	
}


/*END---------Services--------END*/

/*-----------------Masonry----------------*/
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.33%;
}

.grid-item {
  	float: left;
	padding: 10px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/*END--------------Masonry-------------END*/


