
:root {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit; 
}
body {
	background:rgba(106, 15, 194, .1);
	font-family: Play;

}

/*-----CUSTOM----CSS----CLASSES------*/
.bigTitle {
	font-family: 'Shadows Into Light';
	font-size: 4em;
	margin: 0px; 
}
.text-center {
	text-align: center;
}
.wrapper {
	margin: 0 auto;
	padding: 2em;
	width: 70%;
}

.fixedbackground {
	background-image: url('../img/Fuschia2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.clearfix {
  overflow: auto;
}
/* ---------logo---------------*/
.miniLogo {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 120px;
    width:160px;
}
/* ---------navbar---------------*/
nav {
	width: 550px;
	margin: 0 auto;
}
nav ul{
	margin:0;
	padding:0;
}

nav li{
	width:100px;
	height:50px;
	float:left;
	color:white;
	overflow:hidden;
}

#navButton{
	color:#FFF;
	text-decoration:none;
}

nav p{
	padding:0px 5px;
}
li.navGallery > p > a{
		text-decoration: none;
		color: white;
}

nav .subtext{
		padding-top:15px;

	}
nav .navContact .subtext{
	padding-top: 5px;
	}
li.navContact.text-center.navLi > p:nth-child(3) > a, p:nth-child(2) > a {
	text-decoration: none;
	color: white;
}
nav .navGallery .subtext{
	padding-top: 0 ;
	line-height: .7;
}
.navGallery a {

	transition: .6s ease ;
}
.navGallery a:hover{
	color:#401a65;
}

/* button class selectors */
nav .navHome{background:#995DD5;}
nav .navGallery{background:#8034cb;}
nav .navTestimonials{background: #732fb6;}
nav .navStory{background:#662aa2;}
nav .navContact{background:#401a65;}

/*END---------navbar---------------END*/

/*---------Social Media Bar---------------*/

.socialSideContent {
	position: absolute;
	top: .5em;
	right: 1em ;
	font-size: 2.5em;
}
.smaller {
	width: 2em;
}
.twitter {
	color: #4099FF;
	transition: 1s ease;
}
.twitter:hover {
	color: #732fb6;
}
.fbSocBar {
	color: #401a65;
	transition: 1s ease;
}
.fbSocBar:hover {
	color: #995DD5;

}
/*END---------Social Media Bar---------------END*/

/*---------Top Section---------------*/
#top{
	padding-top: 155px;
}

.left-col {
	width: 65%;
	margin: 0 auto;
	display: inline-block;
	float: left;
}
.left-col p {
	padding: 1.375em;
}
div.left-col > h3 {
	font-size: 3em;
}
.right-col {
	border-left: #6A0FC2 1px solid;
	width: 35%;
	margin: 1em auto;
	display: inline-block;
	padding: 1em 3em;
	
}

.services{
	width: 80%;
	margin: auto;
	font-size: 1.5em;
	padding-bottom: 3em;
}

/*END---------Top Section---------------END*/

/*------------indexGallery Section------*/


.weddingThumbnail{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/wedding.jpg");
	width: 100%;
	height: 500px;
	background-position: center;
}
.functionThumbnail{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/function.jpg");
	width: 100%;
	height: 500px;
	background-position: center;
}
.corporateThumbnail{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/corporate.jpg");
	width: 100%;
	height: 500px;
	background-position: center;
}
.fundraiserThumbnail{
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../img/fundraiser.jpg");
	width: 100%;
	height: 500px;
	background-position: center;
}
#galleryLabel {
	position: relative;
	left: 100px;
	top: 100px;
	background: rgba(0,0,0,.3);
	float:left;
	padding: 5px;
	border-radius:5%;
	color: White;
	font-size: 4em;
	visibility: hidden;
  	opacity: 0;
	transition: visibility 0s, opacity 0.3s linear;



}
.weddingThumbnail:hover #galleryLabel, .functionThumbnail:hover #galleryLabel, .corporateThumbnail:hover #galleryLabel, .fundraiserThumbnail:hover #galleryLabel{
	visibility: visible;
  	opacity: 1;

}

.gallerySelection div {
	margin: 2.750em auto;
	padding-top: 100px;
}

/*END---------indexGallery Section---END*/

/*------------Wedding Gallery-----------*/
#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background:rgba(106, 15, 194, .2);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #995DD5;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background:rgba(106, 15, 194, .8);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/*END---------Wedding Gallery--------END*/

/*------------About Us-----------*/

.about > h1 {
	font-size: 3em;
}

.headShot{
	border-radius: 50%;
	height:150px;
	width: 150px;
	float:left;

}
.headShotMini {
	width: 340px;
	margin: 0 auto;	
}
#ourStory div:nth-child(4) > p {
	text-align: justify;
	}

.profile h3 {
	margin: 1.375em;
	font-size: 3em;
}

.profile p {
	font-size:1.375em;
	line-height: 1.5em;
}

/*END---------About Us--------END*/

/*------------Testimonials-----------*/

div.testimonialContainer{
	width: 31%;
	height: 350px;
	float: left;
	font-size:1.2em;
	margin: 5px;
	display: inline-block;
	background:rgba(106, 15, 194, .1);
	padding: 5px;
}
.testimonialContainer h2{
	margin: 1.375em;

}
.testimonialPic{
	height: 350px;
	width: auto;
	border-radius: 5px;
}
.testimonialContainerhalf{
	width: 45%;
	display: inline-block;
	
	
}
.testimonialContainerhalfRight{
	float: right;
	width: 45%;
	
}

/*END---------Testimonials--------END*/

 
/*-----------------Masonry----------------*/
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.33%;
}

.grid-item {
  	float: left;
	padding: 10px;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

/*END--------------Masonry-------------END*/


