
:root {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit; 
}
body {
background: rgba(106, 15, 194, .1);
}
/* ---------navbar---------------*/
nav {
	width: 500px;
	margin: 0 auto;
}
nav ul{
	margin:0;
	padding:0;
}

nav li{
	width:100px;
	height:50px;
	float:left;
	color:white;
	overflow:hidden;
}

nav a{
	color:#FFF;
	text-decoration:none;
}

nav p{
	padding:0px 5px;
}

nav .subtext{
		padding-top:15px;
	}

/*Nav Color Classes*/
nav .navHome{background:#995DD5;}
nav .navGallery{background:#8034cb;}
nav .navBlog{background: #732fb6;}
nav .navStory{background:#662aa2;}
nav .navContact{background:#401a65;}

/*END---------navbar---------------END*/

/*---------Top Section---------------*/
#top{
	padding-top: 200px;
}


/*END---------Top Section---------------END*/
